.App {
  font-family: sans-serif;
  text-align: center;
}

.card {
  border: 1px solid black;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.input {
  margin: 10px;
}
